In [12]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

In [13]:
data ={
    "Age": [19, 21, 20, 23, 31, 22, 35, 29, 30, 40],
    "AnnualIncome":[15, 16, 17, 18, 45, 23, 55, 48, 50, 60],
    "City":["Kathmandu", "Pokhara", "Lalitpur", "Kathmandu", "Pokhara", 
             "Lalitpur", "Kathmandu", "Pokhara", "Kathmandu", "Lalitpur"],
      "SpendingScore":[39, 81, 6, 77, 40, 76, 6, 94, 3, 72]
}
df= pd.DataFrame(data)
print(df)
numerical_features = ['Age','AnnualIncome','SpendingScore']
catagorical_features = ['City']

   Age  AnnualIncome       City  SpendingScore
0   19            15  Kathmandu             39
1   21            16    Pokhara             81
2   20            17   Lalitpur              6
3   23            18  Kathmandu             77
4   31            45    Pokhara             40
5   22            23   Lalitpur             76
6   35            55  Kathmandu              6
7   29            48    Pokhara             94
8   30            50  Kathmandu              3
9   40            60   Lalitpur             72

In [14]:
preprocessor = ColumnTransformer(
    transformers=[
        ("num",StandardScaler(),numerical_features),
        ("cat",OneHotEncoder(drop="first"),catagorical_features)
    ]
)
X=preprocessor.fit_transform(df)

In [15]:
model = KMeans(n_clusters=3,
               init="k-means++",
               n_init=10,
               random_state=42,
               max_iter=300
               )
labels = model.fit_predict(X)
print(labels)

[0 0 0 0 2 0 2 1 2 1]